:root {
    --main-color: #1b1a17;
}

/* QUOTE BOX */
.quote-box {
    width: 600px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: solid 10px var(--main-color);
    border-radius: 15px;
}

/* TEXT */
.quote-icon {
    margin: 8px;
    font-size: 28px;
    color: var(--main-color);
}

.quote {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--main-color);
    font-weight: bold;
}
  
.author {
    font-size: 20px;
    color: var(--main-color);
    font-family: 'Century';
    font-weight: bold;
    margin-left: 250px;
}

/* BUTTONS */
.quote-buttons {
    display: flex;
    justify-content: space-around;
}

.btn-icon {
    font-size: 20px;
    margin-right: 8px;
}