/* QUOTE BOX */
.quote-box {
    width: 600px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: solid #1b1a17 10px;
    border-radius: 15px;
}

/* TEXT */
.quote-icon {
    margin: 8px;
    font-size: 28px;
    color: #1b1a17;
}

.quote {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #1b1a17;
    font-weight: bold;
}
  
.author {
    font-size: 20px;
    color: #1b1a17;
    font-family: 'Century';
    font-weight: bold;
    margin-left: 250px;
}